<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {description:`MINDBEND is Gujarat's largest
  Techno-Managerial Fest, which is entirely organized by the SVNIT student body
  and serves as the perfect rocket launch-pad for all the tech-enthusiasts out
  there!`, keywords: `MINDBEND, TECHNO-FEST, SVNIT, NIT-SURAT, NATIONAL-EVENT`,
  style: `events`, title: `MINDBEND 2023 | EVENTS`, });%>
  <body>
    <img id="bg" src="/images/bgs/filewall.webp" alt="" />
    <%- include(`partials/loading`)%> <%- include(`partials/nav`,
    {appear:`appear`})%>

    <main>
      <div class="heading">
        <p>EVENTS</p>
        <p>EVENTS</p>
        EVENTS
        <p>EVENTS</p>
        <p>EVENTS</p>
      </div>
      <h1 class="catagory" id="technical_h">Technical ↓</h1>
      <div class="events-container dissapear" id="technical">
        <% events.forEach(function(e){ %> <%if(e.catagory === "technical"){%>
        <div class="card">
          <div class="img-container">
            <img src="<%= e.image%> " alt="" />
          </div>
          <div class="card-details">
            <h2><%= e.name %></h2>
            <p><%= e.about %></p>
          </div>
          <a href="/events/<%=e.name%>" class="read-more">Read more...</a>
        </div>

        <%}});%>
      </div>

      <h1 class="catagory" id="managerial_h">Managerial ↓</h1>
      <div class="events-container dissapear" id="managerial">
        <% events.forEach(function(e){ %> <%if(e.catagory === "managerial"){%>
        <div class="card">
          <div class="img-container">
            <img src="<%= e.image%> " alt="" />
          </div>
          <div class="card-details">
            <h2><%= e.name %></h2>
            <p><%= e.about %></p>
          </div>
          <a href="/events/<%=e.name%>" class="read-more">Read more...</a>
        </div>

        <%}});%>
      </div>
    </main>
    <%- include(`partials/footer`)%>
    <script src="/js/global.js"></script>
    <script>
      document.querySelector("#managerial_h").addEventListener("click", () => {
        document.querySelector("#managerial").classList.toggle("dissapear");
      });
      document.querySelector("#technical_h").addEventListener("click", () => {
        document.querySelector("#technical").classList.toggle("dissapear");
      });
    </script>
  </body>
</html>
