<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {description:`MINDBEND is Gujarat's largest
  Techno-Managerial Fest, which is entirely organized by the SVNIT student body
  and serves as the perfect rocket launch-pad for all the tech-enthusiasts out
  there!`, keywords: `MINDBEND, TECHNO-FEST, SVNIT, NIT-SURAT, NATIONAL-EVENT`,
  style: `accomodation`, title: `MINDBEND 2023 | CAMPUS AMBASSADOR`, });%>
  <body>
    <%- include(`partials/stars`)%> <%- include(`partials/loading`)%> <%-
    include(`partials/nav`, {appear:"appear"})%>6353168005
    <main>
    
        <div class="registration-form-container">
        
            <div class="mbimg-container">
                <img src="/images/mbLogo.png" alt="" />
            </div>
        
            <div class="registration-form">

                <form action="/expo/register" method="post">
                    <div class="left-form">
                        <div class="input-container">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="" required />
                        </div>

                        <div class="input-container">
                            <label for="address">Email</label>
                            <input type="email" name="email" id="" required />
                        </div>
        
                        <div class="input-container">
                            <label for="college">College</label>
                            <input type="text" name="college" id="" required />
                        </div>
                        


                        <div class="input-container">
                            <label for="expo">Expo</label>
                            <select name="expo" id="" required>
                              <option value="Auto Expo">Auto Expo</option>
                              <option value="Aero Expo">Aero Expo</option>
                              <option value="Start-up Expo">Start-up Expo</option>
                            </select>
                          </div>
                    </div>
                    <div class="buttons">
                        <button id="submit">
                            <a onclick="frmValidate()" style="color: black">Register</a>
                        </button>
                        <input type="reset" name="Reset" id="reset" />
                    </div>

                </form>
            </div>
        </div>
    </main>
    <%- include(`partials/footer`)%>
    <img id="snow-mountain" src="/images/extras/snow-mountain.png" alt="" />
    <script src="/js/global.js"></script>
    <script>
        const form_container = document.querySelector(
        ".registration-form-container"
      );


        function frmValidate() {
        const frm = document.querySelector("form");
        let len = frm.length;
        while (len--) {
          if (!frm.elements[frm.length - len].checkValidity()) {
            return false;
          }
        }
      }

    //   btns.forEach((el) => el.addEventListener("click", accordion));

    </script>
  </body>
</html>
