<!DOCTYPE html>
<html lang="en">
    <%- include(
        'partials/head', 
        {description: "MINDBEND is Gujarat's largest Techno-Managerial Fest, which is entirely organized by the SVNIT student body and serves as the perfect rocket launch-pad for all the tech-enthusiasts out there!", keywords: "MINDBEND, TECHNO-FEST, SVNIT, NIT-SURAT, NATIONAL-EVENT", 
        style: "guest", 
        title: "MINDBEND 2023 | guest"}); 
    %>
    <link rel="stylesheet" href="css/team.css">

  <body>
    <img id="bg" src="/images/bgs/team.webp" alt="" />

    <%- include('partials/loading'); %>
    <%- include('partials/nav', {appear: "appear"}); %>
    <div class="bg-cover"></div>
    <main>
      <div class="heading">
        <p>guest</p>
        <p>guest</p>
        <p>guest</p>
        <p>guest</p>
      </div>

      <!-- these are guests, but using the same css and css attributes as team -->
      <div class="commitee">
        <h1>Guest</h1>
        <div class="team-cards-container">
          <% guest.forEach(function(e) { %>
          <div class="card-container">
            <div class="card">
              <div class="cardBg" style="background-image: url('<%= e.photo %>')"></div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </main>

    <%- include('partials/footer'); %>
    <script src="/js/global.js"></script>
  </body>
</html>
