<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {description:`MINDBEND is Gujarat's largest
  Techno-Managerial Fest, which is entirely organized by the SVNIT student body
  and serves as the perfect rocket launch-pad for all the tech-enthusiasts out
  there!`, keywords: `MINDBEND, TECHNO-FEST, SVNIT, NIT-SURAT, NATIONAL-EVENT`,
  style: `guest`, title: `MINDBEND 2023 | GUEST`, });%>
  <body>
    <img id="bg" src="/images/bgs/guest.jpg" alt="" />
    <%- include(`partials/loading`)%> <%- include(`partials/nav`,
    {appear:`appear`})%>

    <main>
      <div class="heading" id="workshop-heading">
        <p>GUEST</p>
        <p>GUEST</p>
        GUEST
        <p>GUEST</p>
        <p>GUEST</p>
      </div>
      <div class="events-container">
        <% guest.forEach(function(e){ %>
        <div class="card">
          <div class="img-container">
            <img src="<%= e.image%> " alt="" />
          </div>
          <div class="card-details">
            <h2><%= e.name %></h2>
            <p><%= e.details %></p>
          </div>
          <a href="/guest/<%=e.name%>" class="read-more">Read more...</a>
        </div>

        <%});%>
      </div>
    </main>
    <%- include(`partials/footer`)%>
    <script src="/js/global.js"></script>
  </body>
</html>
