<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {description:`MINDBEND is Gujarat's largest
  Techno-Managerial Fest, which is entirely organized by the SVNIT student body
  and serves as the perfect rocket launch-pad for all the tech-enthusiasts out
  there!`, keywords: `MINDBEND, TECHNO-FEST, SVNIT, NIT-SURAT, NATIONAL-EVENT`,
  style: `index`, title: `MINDBEND 2023`, });%>
  <body>
    <%- include(`partials/stars`)%> <%- include(`partials/loading`)%> <%-
    include(`partials/nav`, {appear:``})%>
    <div class="main-bg">
      <img id="bg" src="/images/bgs/best_bg.webp" alt="background" />
      <img id="plane" src="/images/bgs/rain.webp" alt="rain" />
      <img id="fg" src="/images/bgs/best_fg.webp" alt="foreground" />
      <div title="Scroll Down SLOWLY !!!" class="tooltip">
        <svg
          width="84"
          height="136"
          viewBox="0 0 84 136"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="Group 23">
            <g id="Rectangle 5" filter="url(#filter0_b_203_35)">
              <rect
                y="136"
                width="136"
                height="84"
                rx="40"
                transform="rotate(-90 0 136)"
                fill="white"
                fill-opacity="0.2"
              />
            </g>
            <path
              id="Line 1"
              d="M40.4393 105.061C41.0251 105.646 41.9749 105.646 42.5607 105.061L52.1066 95.5147C52.6924 94.9289 52.6924 93.9792 52.1066 93.3934C51.5208 92.8076 50.5711 92.8076 49.9853 93.3934L41.5 101.879L33.0147 93.3934C32.4289 92.8076 31.4792 92.8076 30.8934 93.3934C30.3076 93.9792 30.3076 94.9289 30.8934 95.5147L40.4393 105.061ZM43 104L43 32H40L40 104H43Z"
              fill="white"
            />
          </g>
          <defs>
            <filter
              id="filter0_b_203_35"
              x="-50"
              y="-50"
              width="184"
              height="236"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feGaussianBlur in="BackgroundImageFix" stdDeviation="25" />
              <feComposite
                in2="SourceAlpha"
                operator="in"
                result="effect1_backgroundBlur_203_35"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_backgroundBlur_203_35"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
      </div>
      <div class="timer">
        <div class="container" id="days">
          <h3>Days</h3>
          <p>--</p>
        </div>
        <div class="container" id="hours">
          <h3>Hours</h3>
          <p>--</p>
        </div>
        <div class="container" id="minutes">
          <h3>Minutes</h3>
          <p>--</p>
        </div>
        <div class="container" id="seconds">
          <h3>Seconds</h3>
          <p>--</p>
        </div>
      </div>
    </div>

    <img id="planes" src="/images/extras/group-of-planes.webp" alt="planes" />
    <div class="hero-texts">
      <div id="main-title">
        <p>MIN</p>
        <b>D</b>
        <p>BEND</p>
      </div>
      <h2 id="sub-title">2023</h2>
    </div>

    <div class="merger">
      <button
        id="accomodation"
        style="
          position: absolute;
          top: 6rem;
          left: 50%;
          width: 15rem;
          transform: translateX(-50%);
          padding: 15px;
          border-radius: 10px;
          cursor: pointer;
          z-index: 50;
        "
      >
        <a href="https://forms.gle/ezUqP8FR646yY99T6" style="color: black"
          >Accomodation Registration</a
        >
      </button>
      <div id="about" class="heading">
        <p>ABOUT</p>
        <p>ABOUT</p>
        ABOUT
        <p>ABOUT</p>
        <p>ABOUT</p>
      </div>
    </div>
    <main>
      <img id="tank" src="/images/extras/tank.webp" alt="tank" />
      <div id="box-1" class="box">
        <!-- <img src="/images/extras/yellow-black-stripes.jpg" alt="stripes" /> -->
        <div class="content">
          <h2>ABOUT MINDBEND?</h2>
          <p>
            <b>Mindbend 2023</b> is the annual techno-managerial festival of
            Sardar Vallabhbhai National Institute of Technology (SVNIT), Surat,
            being organized in April this year. The students of SVNIT, Surat
            entirely organize the fest. It acts as an excellent stepping stone
            for all the tech enthusiasts out there! This festival aims to bring
            together some of the world's leading scientific minds, recognized
            technologists, and prominent thinkers and unite them on a large
            platform. This year, Mindbend also gives all tech aficionados a
            platform to support the Make In India initiative.
          </p>
        </div>
      </div>
      <img
        id="missiles-launcher"
        src="/images/extras/missiles-launcher.webp"
        alt="missiles-launcher"
      />
      <div id="box-2" class="box">
        <!-- <img src="/images/extras/yellow-black-stripes.jpg" alt="stripes" /> -->
        <div class="content">
          <h2>defence Technology</h2>
          <p>
            In the past few years, India has made great strides towards its
            defence. Technology, Sustainability, Revolution, Innovation,
            Entrepreneurship have been the five pillars of this enormous
            progress. Our main goal is to throw projections with our theme of
            <span>"Defenfusion: Transmogrify Tech Warfare"</span> in this year's
            Mindbend.
          </p>
          <p>
            Defenfusion is the process of adding something new and fresh to
            existing technology. It is a way of bringing in new ideas and
            perspectives, which can help create positive change in our defence
            system.
          </p>
          <p>
            The goal is to demonstrate the strength of our indigenous defence
            sector. MINDBEND 2023 aims to highlight the crucial significance of
            our national defence and the evolving technological developments in
            the field.
          </p>
        </div>
      </div>

      <div class="submarine-back">
        <div class="figures-container">
          <div class="heading">
            <p>STATS</p>
            <p>STATS</p>
            STATS
            <p>STATS</p>
            <p>STATS</p>
          </div>
          <div class="list">
            <div class="figures">
              <div style="display: flex">
                <div class="number" id="number_1">0</div>
                <span style="font-size: 2rem">+</span>
              </div>
              <p>Prize Money</p>
            </div>
            <div class="figures">
              <div style="display: flex">
                <div class="number" id="number_2">0</div>
                <span style="font-size: 2rem">+</span>
              </div>
              <p>Competitions</p>
            </div>
            <div class="figures">
              <div style="display: flex">
                <div class="number" id="number_3">0</div>
                <span style="font-size: 2rem">+</span>
              </div>
              <p>Participants</p>
            </div>
          </div>
        </div>
        <div>
          <div
            class="button"
            style="text-align: center; margin: 20px; padding: 20px"
          ></div>
        </div>
        <div class="container map-container">
          <div class="cover"></div>
          <iframe
            title="SVNIT-Map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7441.524319142679!2d72.7826374469413!3d21.161861443429334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04dee0c3c5311%3A0x7bd4e2f1cdf25f26!2sSVNIT%20Campus%2C%20Athwa%2C%20Surat%2C%20Gujarat%20395007!5e0!3m2!1sen!2sin!4v1666945344106!5m2!1sen!2sin"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <img
          id="snow-mountain"
          src="/images/extras/snow-mountain.png"
          alt="snow-mountain"
        />
        <%- include(`partials/footer`)%>
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
    <script src="js/index.js"></script>
    <script src="/js/countTo.js"></script>
    <script src="/js/global.js"></script>
    <script>
      // Set the date we're counting down to
      var countDownDate = new Date("Mar 31, 2023 09:00:00").getTime();

      // Update the count down every 1 second
      var x = setInterval(function () {
        // Get the current date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Calculate days, hours, minutes, and seconds left
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor(
          (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        // Display the result in the relevant containers
        document.getElementById("days").getElementsByTagName("p")[0].innerHTML =
          days;
        document
          .getElementById("hours")
          .getElementsByTagName("p")[0].innerHTML = hours;
        document
          .getElementById("minutes")
          .getElementsByTagName("p")[0].innerHTML = minutes;
        document
          .getElementById("seconds")
          .getElementsByTagName("p")[0].innerHTML = seconds;

        // If the count down is finished, display a message
        if (distance < 0) {
          clearInterval(x);
          document.getElementById("countdown").innerHTML = "STARTED";
        }
      }, 1000);
    </script>
  </body>
</html>
