<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {description:`MINDBEND is Gujarat's largest
  Techno-Managerial Fest, which is entirely organized by the SVNIT student body
  and serves as the perfect rocket launch-pad for all the tech-enthusiasts out
  there!`, keywords: `MINDBEND, TECHNO-FEST, SVNIT, NIT-SURAT, NATIONAL-EVENT`,
  style: `sponsors`, title: `MINDBEND 2023 | SPONSORS`, });%>
  <body>
    <div class="bg-stars">
      <div id="stars"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>
    </div>
    <%- include(`partials/loading`)%> <%- include(`partials/nav`,
    {appear:"appear"})%>
    <main>
      <!-- <div class="team-container">
        <h2>SPONSORS and PARTNERS!</h2>
        <div class="profiles">
          <div class="profile">
            <div class="dp">
              <img src="https://www.wictronix.com/favicon.ico" alt="profile" />
            </div>
            <div class="details">
              <h3>WictroniX</h3>
              <p>Tech Partner</p>
              <div class="socials"></div>
            </div>
          </div>
        </div>
      </div> -->
      <h1 class="comming">
        SPONSORS ARE COMMING <br />
        SOON . . .
      </h1>
    </main>
    <img id="snow-mountain" src="/images/extras/snow-mountain.png" alt="" />
    <%- include(`partials/footer`)%> <%- include(`partials/scripts`)%>
  </body>
</html>
