<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {description:`MINDBEND is Gujarat's largest
  Techno-Managerial Fest, which is entirely organized by the SVNIT student body
  and serves as the perfect rocket launch-pad for all the tech-enthusiasts out
  there!`, keywords: `MINDBEND, TECHNO-FEST, SVNIT, NIT-SURAT, NATIONAL-EVENT`,
  style: `events`, title: `MINDBEND 2023 | WORKSHOPS`, });%>
  <body>
    <img id="bg" src="/images/bgs/workshop.png" alt="" />
    <%- include(`partials/loading`)%> <%- include(`partials/nav`,
    {appear:`appear`})%>

    <main>
      <div class="heading">
        <p>WORKSHOPS</p>
        <p>WORKSHOPS</p>
        WORKSHOPS
        <p>WORKSHOPS</p>
        <p>WORKSHOPS</p>
      </div>
      <div class="events-container">
        <% workshops.forEach(function(e){ %>
        <div class="card">
          <div class="img-container">
            <img src="<%= e.image%> " alt="" />
          </div>
          <div class="card-details">
            <h2><%= e.name %></h2>
            <p><%= e.details %></p>
          </div>
          <a href="/workshops/<%=e.name%>" class="read-more">Read more...</a>
        </div>

        <%});%>
      </div>
    </main>
    <%- include(`partials/footer`)%> <%- include(`partials/scripts`)%>
  </body>
</html>
